<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bleve.knightprinciple">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bg_story" />
        <activity android:name=".menu" />
        <activity android:name=".big_map" />
        <activity android:name=".civi" />
        <activity android:name=".civi_dice" />
        <activity android:name=".civi_right" />
        <activity android:name=".civi_water" />
        <activity android:name=".first_map" />
        <activity android:name=".home" />
        <activity android:name=".wood" />
        <activity android:name=".hunt" />
        <activity android:name=".mystery" />
        <activity android:name=".Dive" />
        <activity android:name=".dive_left" />
        <activity android:name=".dive_right_two" />
        <activity android:name=".dive_right_final" />
        <activity android:name=".dive_tree" />
        <activity android:name=".livier" />
        <activity android:name=".livier_fish" />
        <activity android:name=".atlas" />
        <activity android:name=".elem"></activity>
    </application>

</manifest>